
*.lnk
*.map
*.d
*.o
*.o
*.d
.vscode/settings.json
*.d
gbatest.sav
gbatest.sav
gbatest.gba
GBA-Project.sav
GBA-Project.gba
GBA-Project.elf
build/main.o
build/main.d
build/gbatest.map
build/gbatest.map
